


div.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100px;
	h1 {
		font-size: 3rem;
		text-decoration: underline;
		margin-bottom: 1rem;
	}
	p {
		text-align: center;
		margin-bottom: 0.5rem;
	}
	h5 {
		margin-bottom: 3rem;
		text-align: center;
	}
	div.Controls {
		width: 50%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		img {
			width: 50px;
			cursor: pointer;
			transition: filter 200ms ease-out;
			&:hover {
				filter: brightness(0.6);
			}
		}
	}
	div.ProjectList {
		display: flex;
		justify-content: center;
		align-items: center;

		div.Project {
			border-radius: 50px;
			aspect-ratio: 16/9;
			width: 100%;
			position: relative;
			&:hover > div.background {
				filter: brightness(1);
			}

			div.background {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				z-index: -1;
				left: 0;
				transition: filter 500ms ease-out;
				top: 0;
				filter: brightness(0.7);
				width: 100%;
				height: 100%;
				border-radius: 50px;
			}
			div.titlebar {
				width: 100%;
				background-color: rgba(0, 0, 0, 0.93);
				border-radius: 50px 50px 0px 0px;
				height: 15%;
				display: grid;
				place-items: center;
				h2 {
					font-size: 3rem;
				}
			}
			div.footbar {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 0 0 50px 50px;
				height: 30%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				h4 {
					font-size: 1.5rem;
					width: 95%;
					text-align: justify;
					text-justify: inter-word;
					text-align: center;
				}
				div.buttons {
					width: 70%;
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					button {
						width: 150px;
						border: none;
						outline: none;
						background: none;
						border-radius: 10px;
						cursor: pointer;
						transition: all 200ms ease-out;
						&:hover {
							filter: brightness(0.9);
							transform: scale(1.1);
						}
						&:active {
							transform: scale(0.9);
						}
						img {
							border-radius: 10px;
							width: 100%;
						}
					}
				}
			}
		}
	}
	div.ControlDots {
		display: flex;
		p {
			font-size: 2rem;
			cursor: pointer;
		}

	}
}

@media screen and (max-width: 1300px) {
	div.slider {
		div.ProjectList {
			div.Project {
				div.titlebar {
					h2 {
						font-size: 2rem;
					}
				}
				div.footbar {
					h4 {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	div.slider {
		margin-top: 5rem;
		div.ProjectList {
			div.Project {
				aspect-ratio: 16/14;
				div.titlebar {
					h2 {
						font-size: 1.3rem;
					}
				}
				div.footbar {
					h4 {
						font-size: 0.8rem;
					}

					div.buttons {
						width: 90%;
						display: flex;
						align-items: center;
						justify-content: space-evenly;
						button {
							width: 100px;
							border: none;
							outline: none;
							background: none;
							border-radius: 10px;
							img {
								border-radius: 10px;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
