div.Container {
    margin-bottom: 10rem;
	margin-top: 15rem;
	min-height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1.hidden {
		font-size: 4rem;
		transform: translateX(-100vw);
	}
	h1.show {
		transition: all 1s ease-out;
		transform: translateX(0);
		font-size: 4rem;
		
	}
	div.ContactsList {
		margin: 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
		place-items: center;
		gap: 30px;
		img.Icon {
			transform: translateX(0px);
			transition: all calc(1s * var(--order)) ease-out;
			width: 60px;
			cursor: pointer;
		}
        img.hidden {
            width: 60px;
            transform: translateX(-100vw);
        }
		div.EmailContainer {
            gap: 20px;
            grid-column-start: 1;
            grid-column-end: 4;
			display: flex;
			align-items: center;
			transition: all calc(1s * var(--order)) ease-out;
			transform: translateX(0);
            img {
                width: 60px;
            }
            p {
                font-weight: bold;
                font-size: 1.5rem;
            }
		}
		div.hidden {
            width: 60px;
            transform: translateX(-100vw);
			 img {
                width: 60px;
            }
            p {
                font-weight: bold;
                font-size: 1.5rem;
            }
		}
	}
}
